arrow==0.12.1
binaryornot==0.4.4
certifi==2022.12.7
chardet==3.0.4
click==6.7
cookiecutter==1.6.0
Flask==0.12.2
future==0.16.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jinja2-time==0.2.0
MarkupSafe==1.0
numpy==1.14.0
pandas==0.22.0
poyo==0.4.1
PyScaffold==3.0.1
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
six==1.11.0
-e git+https://github.com/atreanor/systeminfo.git@8f31441df045a8c00deafb76cc48eab99ad51f81#egg=systeminfo
urllib3==1.22
Werkzeug==0.14.1
whichcraft==0.4.1
